@font-face {
    font-family: "NorseBold";
    src: 
        url("fonts/norse-bold-webfont.woff") format("woff"),
        url("fonts/norse-bold-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.sidebar{
    width: 40%;
    height: auto;
    position: sticky;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image:url("Images/halie-west-25xggax4bSA-unsplash.jpg")
    
}

.logo-container{
    margin-top: 30%;
    opacity: 0.75;
    background-color: black;
    color:white
}

.odin-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 6rem;
    padding: 20px;
    font:7em "NorseBold";
}

.odin-logo img{
    max-width: 150px;
    height: auto;

}

.rightside{
    background-color:lightgrey;
    width: 60%;
}

.rightside:first-child{
    padding-top: 50px;
}

.intro-text{
    font-size: 2.5rem;
}

.intro-text.first,
.intro-text.second{
    padding-left: 10%;
    padding-right: 10%;
}

.intro-text.first{
    padding-top: 7.5%;

}

.intro-text.second{
    padding-bottom: 7.5%;
    padding-left: 10%;
    padding-right: 10%;
}


.form-col{
    border-color: #E5E7EB;
    /* padding-left: 10%;
    padding-right: 10%; */
    margin-bottom: 30px;
}



.signup-form{
    background-color: #fff;
    padding: 20px;
    margin-top: 5%;
    gap: 20px;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    padding-left: 10%;
    padding-right: 10%;
}

.column-container{
    display: flex;
    gap: 10px;
}

.first-col-container{
    padding-right: 10%;
}

.first-col-container input{
    display: flex;
    align-items: flex-end;
}

.second-col-container{
    padding-left: 10%;
}

.second-col-container input{
    display: flex;
    align-items: flex-end;
}

.create-account{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.create-account > div{
    padding-top: 30px;
}


button{
    background-color:#596D48;
    color:antiquewhite;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 7px;
    padding: 10px 40px;
    cursor: pointer;
    
}

a{
    color: #596D48;
}


.form-col input[type='text'],
.form-col input[type='email'] {
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

/* .form-col input[type='email']:invalid {
    border: 1px;
    color: #D55C5F;
    box-shadow: none;
} */

.form-col input[type='text']:invalid,
.form-col input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;
}